.button {
  color: inherit;
  display: inline-block;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1.2;
  padding: .8em 1.75em; 
  text-decoration: none;
  text-transform: uppercase;
  transition: background .3s ease-in-out, color .3s ease-in-out;
  clip-path: polygon(4% 0%, 100% 0%, 96% 100%, 0% 100%);
  position: relative;
}

.button--large {
  font-size: 1.125rem;
}

.button--white {
  background: var(--white);
  color: var(--dark-blue);
}

.button--white:hover,
.button--white:focus {
  background: var(--yellow);
  color: var(--dark-blue);
}

.button--forza-gradient {
  color: var(--white);
}

.button--forza-gradient:hover,
.button--forza-gradient:focus {
  color: var(--dark-blue);
}

.button--forza-gradient::after,
.button--forza-gradient::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: -1;
  transition: opacity .3s ease-in-out;
}

.button--forza-gradient::after  { background: var(--forza-gradient) }
.button--forza-gradient::before { background: var(--white) }

.button--forza-gradient:hover:after,
.button--forza-gradient:focus:after {
  opacity: 0;
}