.columns {
  --gap: 4rem;
  --align: center;

  display: grid;
  align-items: var(--align);
  gap: var(--gap);
  grid-auto-rows: min-content;
}

@media (--desktop) {
  .columns {
    grid-template-columns: repeat(var(--columns-desktop), 1fr);
  }
}

@media (--tablet)  {
  .columns {
    grid-template-columns: repeat(var(--columns-tablet), 1fr);
  }
}

@media (--phone)  {
  .columns {
    grid-template-columns: repeat(var(--columns-phone), 1fr);
  }
}