/* 
 * ===================================================
 * Sobre o programa
 * ===================================================
 */

.about-the-program .section {
  padding-bottom: 2rem;
}


/* 
 * ===================================================
 * Tudo que você precisa saber
 * ===================================================
 */

.program-structure {
  padding-bottom: 4rem;
}

.program-structure .section {
  background: url(../assets/jennifer-delle-monache-fh5-nighttimesky.jpg) no-repeat center / cover;
  padding-bottom: 26rem;
  z-index: 1;
}

.program-structure .section::before {
  content: "";
  background: linear-gradient(0deg, rgba(13, 12, 28, 0) 0%, #0D0C1C 100%);
  width: 100%;
  height: 20.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.program-structure .box {
  background: var(--cerise);
  border-radius: .5rem;
  padding: 5rem;
  margin-top: -14rem;
  position: relative;
  z-index: 1;
}

/* 
 * ===================================================
 * Etapas do processo seletivo
 * ===================================================
 */

.selective-process .section {
  background: url(../assets/horizon-map.jpg) no-repeat center / cover;
  z-index: 1;
}

.selective-process .section::before {
  content: "";
  background: var(--black);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  opacity: .8;
}

.selective-process ol {
  counter-reset: counter;
}

.selective-process ol > * {
  counter-increment: counter;
}

.selective-process ol > *::before {
  --size: 3.5rem;

  background: var(--cerise);
  border-radius: 100%;
  content: counter(counter);
  display: block;
  width: var(--size);
  height: var(--size);
  font-family: "AmsiProCond", sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: var(--size);
  margin-bottom: 1rem;
  text-align: center;
}

@media (--phone) {
  .selective-process {
    text-align: center;
  }

  .selective-process .headline--divider::before,
  .selective-process ol > *::before {
    margin-left: auto;
    margin-right: auto;
  }
}

/* 
 * ===================================================
 * Call to action
 * ===================================================
 */

.cta .section {
  background: var(--forza-gradient);
  z-index: 1;
}

.cta .section::before {
  content: "";
  background: url(../assets/pinata-mascot.jpg) no-repeat center / cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  mix-blend-mode: lighten;
  opacity: .5;
}

.cta .headline--divider::before {
  background: var(--yellow);
}

@media (--desktop) {
  .cta .section {
    padding: 10rem 1.5rem;
  }
}

@media (--phone) {
  .cta .section::before {
    background: url(../assets/pinata-mascot-768px.jpg) no-repeat center / cover;
  }
}

/* 
 * ===================================================
 * FAQ
 * ===================================================
 */

.faq .section {
  padding-bottom: 4rem;
}

/* 
 * ===================================================
 * Footer
 * ===================================================
 */

.footer {
  padding: 0 1.5rem 4rem;
}