@font-face {
  font-family: "AmsiProCond";
  src: url("../fonts/amsiprocond-black.woff2") format("woff2"),
       url("../fonts/amsiprocond-black.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 900;
}

@font-face {
  font-family: "AmsiProCond";
  src: url("../fonts/amsiprocond-bold.woff2") format("woff2"),
       url("../fonts/amsiprocond-bold.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "AmsiProCond";
  src: url("../fonts/amsiprocond-regular.woff2") format("woff2"),
       url("../fonts/amsiprocond-regular.woff") format("woff");
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}