*,
*::after,
*::before {
  box-sizing: border-box;
}

:focus {
  outline: 4px dotted var(--cerise);
  outline-offset: 2px;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--dark-blue);
  color: var(--white);
  font-family: "AmsiPro", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

img,
picture {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  pointer-events: none;
  user-select: none;
}

b,
strong {
  font-family: inherit;
  font-weight: 700;
}

a {
  color: inherit;
}

svg {
  width: 100%;
  vertical-align: middle;
}

video {
  width: auto;
  height: auto;
}
