.list > * {
  position: relative;
}

.list > * + * {
  margin-top: .5em;
}


/*
 * Checkmark style.
 */

.list--checkmark > * {
  padding-left: 2em;
}

.list--checkmark > * + * {
  margin-top: 1rem;
}

.list--checkmark > *::before {
  content: "";
  /* background: url(../assets/checkmark.svg) no-repeat center / contain; */
  border-radius: 1em;
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: .1em;
  left: 0;
}