/* 
 * Headline
 */

.headline {
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
}

.headline--size-1 { font-size: 2.75rem }
.headline--size-2 { font-size: 2.25rem }
.headline--size-3 { font-size: 2rem }

@media (--desktop) {
  .headline--size-1 { font-size: 5.125rem }
  .headline--size-2 { font-size: 4.625rem }
  .headline--size-3 { font-size: 2.25rem }
}


/* 
 * Texts
 */
 
.subtitle {
  font-size: 1.375rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-lead {
  font-size: 1.125rem;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}