/* 
 * Headline
 */

.headline {
  font-family: "AmsiProCond", sans-serif;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

.headline--size-1 { font-size: 3rem }
.headline--size-2 { font-size: 3rem }
.headline--size-3 { font-size: 2rem }
.headline--size-4 { font-size: 1.5rem }

@media (--desktop) {
  .headline--size-1 { font-size: 5.125rem }
  .headline--size-2 { font-size: 4.625rem }
  .headline--size-3 { font-size: 2.25rem }
}

.headline--divider::before {
  content: "";
  background: var(--forza-gradient);
  display: block;
  width: 4.0625rem;
  height: 0.9375rem;
  margin-bottom: 0.875rem;
}

.text-center .headline--divider::before {
  margin-left: auto;
  margin-right: auto;
}

/* 
 * Texts
 */

.text-small {
  font-size: 0.875rem;
}

.text-lead {
  font-size: 1.125rem;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 900;
}

.block-center {
  margin-left: auto;
  margin-right: auto;
}

@media (--desktop) {
  .text-lead {
    font-size: 1.375rem;
  }
}