:root {
  --black: #000000;
  --dark-blue: #0D0C1C;
  --cerise: #E83382;
  --yellow: #FEDD3A;
  --white: #FFFFFF;
  --grey: #C8C9C7;
  --forza-gradient: linear-gradient(90deg, #FF5D00 0%, #FF00B3 112.30%);
}

@custom-media --phone (width < 48rem);
@custom-media --tablet (48rem <= width < 65.5rem);
@custom-media --desktop (width >= 65.5rem);